[Unit]
Description=vmkite
ConditionPathExists=/usr/local/bin/vmkite

[Service]
Type=forking
ExecStart=/usr/local/bin/vmkite-wrapper run
TimeoutSec=0
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target