[Unit]
Description=vmkite-buildkite-agent
ConditionPathExists=/usr/local/bin/vmkite-buildkite-agent

[Service]
Type=forking
ExecStart=/usr/local/bin/vmkite-buildkite-agent
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target