[Unit]
Description=vmkite-buildkite-agent
ConditionPathExists=/usr/local/bin/vmkite-buildkite-agent
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/vmkite-buildkite-agent

[Install]
WantedBy=multi-user.target