[Unit]
Description=VMKite Buildkite Broker
Documentation=https://github.com/macstadium/vmkite
After=syslog.target
After=network.target

[Service]
Type=simple
User=ubuntu
Environment=HOME=/home/ubuntu
ExecStart=/usr/bin/vmkite
RestartSec=5
Restart=on-failure
TimeoutSec=10

[Install]
WantedBy=multi-user.target
DefaultInstance=1